<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well">
            <h1 class="text-center">Wstaw ocenę</h1>
    
            <%= render 'form' %>
            <%= link_to 'Powrót', grades_path, class: 'btn btn-default' %>
        </div>
    </div>
</div>