<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well">
            <% if params[:subject] == 'Historia' %>
                <%= render 'history' %>
            <% else %>
                <%= render 'forms' %>
            <% end %>
        
            <div class="text-right">        
                <%= link_to 'Powrót', user_path, class: 'btn btn-default' %>
            </div>
        </div>
    </div>
</div>