<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well">
      <%= render params[:subject] == 'Historia' ? 'history' : 'forms' %>
       
      <div class="text-right">        
        <%= link_to 'Powrót', user_path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>