<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <h1 class="text-center">Edytuj profil</h1>
        <p class="text-justify">Uzupełnij swój profil aby mieć dostęp do wyników zajęć.</p>

        <%= render "profiles/shared/profile" %>
        
    </div>
</div>